<div class="footer_main_pg">
<div class="footer_content">
	<div class="first_set_options_ftr">
		<ul class="footer_ul">
			<li><a href="">Home</a></li>
			<li><a href="">About</a></li>
			<li><a href="">How  does it work?</a></li>
			<li><a href="">Owners</a></li>
			<li><a href="">Agents</a></li>
			<li><a href="">Media</a></li>
			<li><a href="">Legal</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
	<div class="first_set_options_ftr">
		<ul class="footer_ul">
			<li><a href="">Owner Registration</a></li>
			<li><a href="">Owner Login</a></li>
			<li><a href="">Agency Login</a></li>
			<li><a href="">Agency Registration</a></li>
			<li><a href="">Careers</a></li>
			<li><a href="">Payment Terms</a></li>
			<li><a href="">Promoters</a></li>
			<li><a href="">Contact</a></li>
		</ul>
	</div>
	<div class="about_txt_ftr">
		<p class="abt_ftr_txt_p">About</p>
		<p class="abt_ftr_des_p">Outdoor Monk is a platform to lorem ipsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thripsum thres thr </p>
	</div>
	<div class="footer_btm">
		<div class="copyrght">
			<span>Copyright 2014,Pixelvide Design Solutions, All rights reserved</span>
		</div>
		<div class="pow_fll_dv">
			<div class="powerd_lg_fll_dv">
				<div class="powered_by_txt">
					<span>Powered By:</span>
				</div>
				<div class="pix_lg">
					<a href="http://www.pixelvide.com">
						<img src="images/pixelvide_logo.png" style="width:100px;">
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
</div>